@using Microsoft.AspNetCore.Identity
@using SportiveOrder.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown-menu dropdown-menu-right">
        @if (User.IsInRole("Admin"))
        {

            <a class="dropdown-item" asp-area="Admin" asp-action="Index">@UserManager.GetUserName(User)</a>
        }
        else
        {
            <a class="dropdown-item" asp-action="Account" asp-controller="Home">@UserManager.GetUserName(User)</a>
            <a class="dropdown-item" asp-action="Index" asp-controller="Order">@Localizer["orders"]</a>
            <a class="dropdown-item" asp-action="Cart" asp-controller="Home">@Localizer["cart"]</a>

        }
        <hr class="dropdown-divider">
        <a class="dropdown-item" asp-controller="Home" asp-action="Logout">@Localizer["logout"]</a>
    </div>
}
else
{
<div class="dropdown-menu dropdown-menu-right">
    <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">@Localizer["login"]</a>
</div>
}
