@model List<Category>




<article class="filter-group">
    <header class="card-header">
        <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
            <i class="icon-control fa fa-chevron-down"></i>
            <h6 class="title">@Localizer["categories"]</h6>
        </a>
    </header>
    <div class="filter-content collapse show" id="collapse_1" style="">
        <div class="card-body">
            <ul class="list-menu">
                <div>

                    <a class="@(ViewBag.category_id?.ToString() == null? "font-weight-bold":"")" asp-action="Index" asp-controller="Home">@Localizer["category"]</a>

                </div>

                @foreach (var item in Model)
                {

                    <li>
                        <a asp-action="Index" asp-controller="Home" asp-route-category_id="@item.CategoryId" class=" @(ViewBag.category_id?.ToString() == item.CategoryId.ToString()? "font-weight-bold":"")">@item.CategoryName</a>
                    </li>

                }
            </ul>

        </div>
    </div>
</article>
