@model Cart;
@{
    ViewData["Title"] = Localizer["title_cart"];
    Layout = "_Layout";
}

@if (Model == null || Model.products == null || Model.products.Count == 0)
{

    <div class="d-flex justify-content-center mt-5">
        <h4 class="mb-3">@Localizer["empty_cart"]</h4> <br />

    </div>
    <div class="d-flex justify-content-center">
        <p class="text-muted">@Localizer["empty_cart_message"]</p> <a asp-action="Index" asp-controller="Home" asp-area="">&nbsp; @Localizer["empty_cart_link"]</a>
    </div>
}
else
{
    <form asp-action="CreateOrder" asp-controller="Home">
        <div class="card my-4">

            <table class="table table-borderless table-shopping-cart">
                <thead class="text-muted">
                    <tr class="small text-uppercase">
                        <th scope="col">@Localizer["products"]</th>
                        <th scope="col" width="120">@Localizer["quantity"]</th>
                        <th scope="col" width="120">@Localizer["price"]</th>
                        <th scope="col" class="text-right" width="200"> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.products)
                    {
                        var sum = item.quantity * Convert.ToDouble(@item.product.SalePrice);
                        <tr>
                            <td>
                                <figure class="itemside">
                                    <div class="aside">
                                        <img src="~/images/product1.jpg" class="img-sm" />
                                    </div>
                                    <figcaption class="info">
                                        <a href="#" class="title text-dark">@item.product.ProductName</a>
                                        <p class="text-muted small"><span>@Localizer["product_group"]</span>: @item.product.ProductGroup <br> @Localizer["size"]: @item.product.Size</p>
                                    </figcaption>
                                </figure>
                            </td>
                            <td>
                                <input oninput="myFunction(this.val)" min="1" type="number" asp-for="@item.quantity" class="form-control" value="@item.quantity">
                            </td>
                            <td>
                                <div class="price-wrap">
                                    <var class="price">@sum ₺</var>
                                    <small class="text-muted"> @item.product.SalePrice ₺ </small>
                                </div> <!-- price-wrap .// -->
                            </td>
                            <td class="text-right">
                                <a asp-action="RemoveCart" asp-controller="Home" asp-route-id="@item.product.ProductId" class="btn btn-danger btn-round"> @Localizer["remove"]</a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>

            <div class="card-body border-top">
                <button class="btn btn-primary float-md-right" type="submit">@Localizer["create_order"] </button>


                <var class="price price-wrap float-right mx-lg-5 my-2">@Model.sum ₺</var>
                <a asp-action="Index" asp-controller="Home" class="btn btn-light float-left"> <i class="fa fa-chevron-left"></i>@Localizer["continue_shopping"] </a>
            </div>
        </div> <!-- card.// -->
        @*<div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td class="image">Ürün</td>
                            <td class="description"></td>
                            <td class="price">Alış Fiyatı</td>
                            <td class="quantity">Miktar</td>
                            <td class="total">Toplam</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.products)
                        {
                            <tr>
                                <td class="cart_product">
                                    <a><img src="images/product1.jpg" alt=""></a>
                                </td>
                                <td class="cart_description">
                                    <h4><a href="">@item.product.ProductName</a></h4>
                                    <p>Web ID:@item.product.ProductId</p>
                                </td>
                                <td class="cart_price">
                                    <p>@item.product.PurchasePrice</p>
                                </td>
                                <td class="cart_quantity">
                                    <div class="cart_quantity_button">
                                        <a class="cart_quantity_up" href=""> + </a>
                                        <input class="cart_quantity_input" type="text" asp-for="@item.quantity" name="quantity" value="@item.quantity" autocomplete="off" size="2">
                                        <a class="cart_quantity_down" href=""> - </a>
                                    </div>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price">@item.product.PurchasePrice</p>
                                </td>
                                <td class="cart_delete">
                                    <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <input type="submit" value="Sipariş Gönder" class="btn btn-primary" />
            </div>*@
    </form>
    <script>
        function myFunction(val) {
            $.ajax({
                type: "POST",
                url: /Home/UpdateCount / val,
                async: true,
                success: function (msg) {
                    return msg;
                },
                error: function () {
                    return "error";
                }
            })
        }

    </script>
}
