@model CartItem

@{
    Layout = "_Layout";
}
<div class="container">
    <div class="row p-4">
        <div class="col-sm-3 ">
            <div class="left-sidebar">
                <h2>Kategoriler</h2>
                <div class="panel-group category-products" id="accordian">
                    @await Component.InvokeAsync("Category")

                </div>

            </div>
        </div>
        <div class="col-sm-9 padding-right">
            <div class="product-details">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img src="~/images/product1.jpg" />
                        </div>
                    </div>

                    <div class="col-sm-7">
                        <form asp-action="AddCart" asp-controller="Home" asp-route-id="@Model.product.ProductId">
                            <div class="product-information">
                                <img src="images/product-details/new.jpg" class="newarrival" alt="" />
                                <h2>
                                    @Model.product.ProductName/h2>
                                <p>
                                    Web ID: @Model.product.ProductId/p>
                                    <span>
                                        <span>@Model.product.SalePrice ₺</span>
                                        <label>Miktar:</label>
                                        <input asp-for="@Model.quantity" type="text" value="1" />
                                        <button type="submit" class="btn btn-default add-to-cart" ><i class="fa fa-shopping-cart"></i>Sepete Ekle</button>
                                    </span>
                                <p><b>Alış Fiyatı:</b> @Model.product.PurchasePrice/p>
                                <p><b>Stok Kodu:</b> @Model.product.StockCode/p>
                                <p><b>Stok:</b> @Model.product.Stock</p>
                                <p><b>Barkod:</b>@Model.product.Barcode </p>
                                <p><b>Beden:</b> @Model.product.Size</p>
                                <p><b>Renk:</b> @Model.product.Color</p>
                                <p><b>Ürün Grubu:</b> @Model.product.ProductGroup </p>
                        </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>