@page
@model LoginModel
@using Microsoft.Extensions.Localization

@using SportiveOrder
@inject IStringLocalizer<SharedResources> Localizer

@{
    ViewData["Title"] = "Log in";
}
@if (TempData["error_message"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show m-4" role="alert">
        <strong>@TempData["error_message"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<section class="section-conten padding-y" style="min-height:84vh">

    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            @if (!ModelState.IsValid)
            {
                <div asp-validation-summary="All" class="alert alert-warning" role="alert">
                </div>
            }
            <h4 class="card-title mb-4">@Localizer["login"]</h4>
            <form id="account" method="post">
                <div class="form-group">
                    <label >@Localizer["username"]</label>
                    <input asp-for="Input.UserName" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label >@Localizer["password"]</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span><!-- form-group// -->

                    <div class="form-group">
                        <label asp-for="Input.RememberMe" class="float-left custom-control custom-checkbox mt-3"> <input type="checkbox" class="custom-control-input" checked=""> <div class="custom-control-label"> @Localizer["Beni Hatırla"] </div> </label>
                    </div> <!-- form-group form-check .// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">@Localizer["login"]</button>
                    </div> <!-- form-group// -->
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
