@model IEnumerable<Product>

@{
    ViewData["Title"] = Localizer["product"];
    Layout = "_AdminLayout";
}

@if (ViewBag.msg != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @ViewBag.msg
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div class="m-2">
    <p>
        <a class="btn btn-primary mt-5 mb-2" asp-area="Admin" asp-controller="Product" asp-action="Create">@Localizer["create_new"]</a>
    </p>
</div>

<div class="container"></div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
               @Localizer["product_name"]
            </th>
            <th>
                @Localizer["stock_code"]
            </th>
            <th>
                @Localizer["stock"]
            </th>
            <th>
               @Localizer["purchase_price"]
            </th>
            <th>
                 @Localizer["sale_price"]
            </th>
            <th>
                @Localizer["product_group"]
            </th>
      
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchasePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductGroup)
                </td>
            
                <td class="text-right" style="width:200px;">
                    <a asp-action="Edit" asp-route-id="@item.ProductId"  class="btn btn-info mx-1">@Localizer["edit"]</a>
                    <a asp-action="Delete" asp-controller="Product" asp-area="Admin" asp-route-id="@item.ProductId" class="btn btn-danger">@Localizer["delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
